*.o
*.a
*.mod
*.x
*.exe
*~
parm/rap_run_*
parm/rap_QNWFA_QNIFA_Monthly_GFS
fix/rap_wgt_*
fix/rap_geo_em.d01.nc
fix/rap_gridspecs
fix/rap_gvf_VIIRS_4KM.*
fix/smoke
fix/rap_smart*
fix/rap_BIOME_NA_13km.bin
fix/rap_MCD12_2013_NA_13km.bin
fix/rap_RTG_SST_landmask.dat
fix/rap_berror_stats_global
fix/rap_conus_elevtiles.grib2
fix/rap_conus_slmask.grib2
fix/rap_current_mesonet_uselist.txt

exec/

ush/rap_largefiles.tar

sorc/logs
sorc/temp
