# These are specific ignore files for rap
fix/
parm/rap_run_CAM_ABS_DATA
parm/rap_run_CAM_AEROPT_DATA
parm/rap_run_CAMtr_volume_mixing_ratio.A1B
parm/rap_run_CAMtr_volume_mixing_ratio.A2
parm/rap_run_CAMtr_volume_mixing_ratio.RCP4.5
parm/rap_run_CAMtr_volume_mixing_ratio.RCP6
parm/rap_run_CAMtr_volume_mixing_ratio.RCP8.5
parm/rap_run_CCN_ACTIVATE.BIN
parm/rap_run_CLM_ALB_ICE_DFS_DATA
parm/rap_run_CLM_ALB_ICE_DRC_DATA
parm/rap_run_CLM_ASM_ICE_DFS_DATA
parm/rap_run_CLM_ASM_ICE_DRC_DATA
parm/rap_run_CLM_DRDSDT0_DATA
parm/rap_run_CLM_EXT_ICE_DFS_DATA
parm/rap_run_CLM_EXT_ICE_DRC_DATA
parm/rap_run_CLM_KAPPA_DATA
parm/rap_run_CLM_TAU_DATA
parm/rap_run_ETAMPNEW_DATA
parm/rap_run_ETAMPNEW_DATA.expanded_rain
parm/rap_run_ETAMPNEW_DATA.expanded_rain_DBL
parm/rap_run_ETAMPNEW_DATA_DBL
parm/rap_run_GENPARM.TBL
parm/rap_run_LANDUSE.TBL
parm/rap_run_MPTABLE.TBL
parm/rap_run_README.rasm_diag
parm/rap_run_README.tslist
parm/rap_run_RRTMG_LW_DATA
parm/rap_run_RRTMG_LW_DATA_DBL
parm/rap_run_RRTMG_SW_DATA
parm/rap_run_RRTMG_SW_DATA_DBL
parm/rap_run_RRTM_DATA
parm/rap_run_RRTM_DATA_DBL
parm/rap_run_SOILPARM.TBL
parm/rap_run_URBPARM.TBL
parm/rap_run_URBPARM_UZE.TBL
parm/rap_run_VEGPARM.TBL
parm/rap_run_aerosol.formatted
parm/rap_run_aerosol_lat.formatted
parm/rap_run_aerosol_lon.formatted
parm/rap_run_aerosol_plev.formatted
parm/rap_run_bulkdens.asc_s_0_03_0_9
parm/rap_run_bulkradii.asc_s_0_03_0_9
parm/rap_run_capacity.asc
parm/rap_run_co2_trans
parm/rap_run_coeff_p.asc
parm/rap_run_coeff_q.asc
parm/rap_run_constants.asc
parm/rap_run_eclipse_besselian_elements.dat
parm/rap_run_freezeH2O.dat
parm/rap_run_grib2map.tbl
parm/rap_run_gribmap.txt
parm/rap_run_kernels.asc_s_0_03_0_9
parm/rap_run_kernels_z.asc
parm/rap_run_masses.asc
parm/rap_run_ozone.formatted
parm/rap_run_ozone_lat.formatted
parm/rap_run_ozone_plev.formatted
parm/rap_run_p3_lookup_table_1.dat
parm/rap_run_qr_acr_qg.dat
parm/rap_run_qr_acr_qs.dat
parm/rap_run_termvels.asc
parm/rap_run_tr49t67
parm/rap_run_tr49t85
parm/rap_run_tr67t85
parm/rap_run_wind-turbine-1.tbl
sorc/rap_wrfpost.fd/gtg_config.f90
sorc/rap_wrfpost.fd/gtg_convective.f90
sorc/rap_wrfpost.fd/gtg_filter.f90
sorc/rap_wrfpost.fd/gtg_indices.f90
sorc/rap_wrfpost.fd/gtg_itfa.f90
sorc/rap_wrfpost.fd/gtg_trophts.f90
sorc/rap_wrfpost.fd/map_routines.f90
sorc/rap_wrfpost.fd/rap_gtg.config
## Rap compile ignore
*.o
*.mod
**/WRFV3.9/
**/WPSV3.9.1/
sorc/rap_gsi.fd/build/
sorc/logs/
exec/
*.exe
